DOCKER_BUILDKIT=1

# MYSQL
MYSQL_VERSION=8.0
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=cyberadmin
MYSQL_PASSWORD=changeme
MYSQL_DATABASE=cyberdb
MYSQL_ROOT_PASSWORD=changeme
MYSQL_CONTAINER_NAME=cybergame-database

# WEBSERVER
WEBSERVER_VERSION=3.9-slim
WEBSERVER_HOST=0.0.0.0
WEBSERVER_PORT=5555
WEBSERVER_DEBUG=True
WEBSERVER_CONTAINER_NAME=cybergame-webserver
WEBSERVER_PUBLIC_IP=127.0.0.1

# MODSECURITY PROXY
UBUNTU_VERSION=24.04
WEBSERVER_HTTP_PORT=80
WEBSERVER_HTTPS_PORT=443
WEBSERVER_NAME="cybergame.local"
CERT_FILENAME="cybergame.local.crt"
CERT_KEY_FILENAME="cybergame.local.key"